.painel{
    border: 1px solid black;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    margin: 100px auto;
    font-size: 60px;
    text-align: center;
    font-family: Calculator;

    background-image: linear-gradient(rgb(100, 98, 90), rgb(37, 31, 31));
}

body{
    text-align: center;
    font-family: Bentron Calligraphic;
}

#relogio{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    box-shadow: 2px 2px 2px black;
}

#ponteiroHora{
    background-color: black;
    position: absolute;
    transform-origin: bottom center;
    width: 5px;
    height: 60px;
    top: 40px;
    left: 97px;
}

#ponteiroMin{
    background-color: black;
    position: absolute;
    transform-origin: bottom center;
    width: 3px;
    height: 90px;
    top: 10px;
    left: 98px;
}

#ponteiroSeg{
    background-color: rgb(134, 33, 33);
    position: absolute;
    transform-origin: bottom center;
    width: 1px;
    height: 100px;
    top: 2px;
    left: 98px;
    box-shadow: 2px 2px 2px black;
}
